# See https://help.github.com/ignore-files/ for more about ignoring files.

# Pliki generowane podczas instalacji zależności
/node_modules

# Pliki generowane podczas budowania aplikacji
/build

# Pliki środowiskowe z sekretami
# Nigdy nie powinny trafić do repozytorium!
.env
.env.*.local

# Logi i pliki diagnostyczne
npm-debug.log*

# Pliki tymczasowe systemu operacyjnego i edytorów
.DS_Store
*~