.action_button {
    margin: 0 0 6px 0;
}

.action_button__header {
    margin: 0 0 4px 0;
    font-family: sans-serif;
    font-size: 15px;
}

.action_button__button {
    margin: 0 0 4px 0;
    height: 50px;
    width: 200px;
    background-color: #d9cca7; /* grey         */
    font-family: 'SeshatRegular', serif;
    border-width: 1px;
}
