@font-face {
    font-family: SeshatRegular;
    src: url('Seshat.otf');
}
.l-window-container {
    background-color: #402a22;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 0;
}

.l-body-container {
    width: 1000px;
    background-color: #f2e4bb;
    padding: 0;
    margin: 0;
}

#root {
    margin: 0 0;
    padding: 0 0;
}
