.group-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0 0 10px 0;
    /* border: 1px solid #a67d65; /\* brown        *\/ */
}
