.subsection-header {
    /* border: 1px solid #a67d65; /\* brown        *\/ */
    margin: 0 0 4px 0;
    font-family: sans-serif;
    font-size: 15px;
}
.app-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20px auto 20px;
    grid-template-areas:
        "header"
        "input"
        "output"
        "footer";
}
@media (min-width: 500px) {
    .app-container {
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header header"
            "output input"
            "footer footer";
    }
}
