.group-box__item {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}

.group-box__checkbox {
    flex: 0 0 15px;
}

.group-box__label {

}

.group-box__names_number {
    border-width: 0;
    padding: 0 5px;
    background-color: inherit;
    font-family: 'SeshatRegular', serif;
    font-size: 11px;
    text-decoration: underline;
}
.group-box__names_number:hover {
    cursor: pointer;
}
