.sorting {
    margin: 0 0 6px 0;
}

.sorting__header {
    margin: 0 0 4px 0;
    font-family: sans-serif;
    font-size: 15px;
}

.sorting__options {
    margin: 0 0 4px 0;
    font-family: 'SeshatRegular', serif;
    font-size: 14px;
}
